.table{
  
   .title{
       color: gray;
       font-weight: 700;
   }
   .row-title{
       font-size: 1rem;
       color: gray;
       font-weight: 500;
   }
    .image{
        height: 5rem;
        width: 7rem;
        padding: 1rem;
        display:flex;
    }
    .pending{
        color:red;
        background-color: rgb(219, 181, 181);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .approved{
        color:green;
        background-color: rgb(192, 219, 181);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}